@import '../../css/base.scss';

.root {
  background: $dominant-color;
  height: 5.625rem;
  display: flex;

  .logo {
    background: url(../../img/logo.png) no-repeat center;
    margin-top: 1rem;
    margin-left: 1rem;

    width: 3.625rem;
    height: 3.625rem;

    transform: rotate(-10deg);
    transition-duration: 0.8s;
    -webkit-backface-visibility: hidden;

    &:hover {
      transform: rotate(10deg);
    }
  }

  .title {
    flex-grow: 1;

    display: flex;
    align-items: center;
    margin-left: 2rem;

    color: white;
    font-size: 1.3rem;
    font-weight: 700;

    .link {
      @extend .link;
      color: white;
    }
  }

  @media (min-width: 900px) {
    .title {
      font-size: 1.5rem;
    }

    .mode {
      font-size: 2rem;
      font-weight: 700;
      margin-right: 0.5rem;
      margin-top: 0.5rem;
    }
  }

  @media (min-width: 1200px) {
    .title {
      font-size: 2rem;
    }
  }
}



.intensifies {
  animation-timing-function: ease-out;
  transform-origin: bottom center;
  animation-name: intensifies;
  animation-duration: 5s;
}

.animated {
  animation-fill-mode: both;
}

@keyframes intensifies {

  @for $i from 0 through 100 {

    #{$i * 1%} {
      // Rotate between left and right
      $sign: -1;
      @if $i % 2 == 0 {
        $sign: 1;
      }

      // Rotation capped at 8
      $rotation: 8;
      @if $i < 10 {
        $rotation: $i;
      }


      // Final frame is set back to 0
      @if $i != 100 {
        transform:  translate($sign * random($i + 1) * 5px - $i * 5 , $sign * random($i + 1) * 5px + $i * 5 ) scale(2 + $i / 25);
      } @else {
        transform: translate(0, 0) rotate(0deg);
      }

    }
  }

}

