@import '../../css/base.scss';

.root {
  background: $dominant-color;
  height: 5.625rem;
  display: flex;

  .logo {
    background: url(../../img/logo.png) no-repeat center;
    margin-top: 1rem;
    margin-left: 1rem;

    width: 3.625rem;
    height: 3.625rem;

    transform: rotate(-10deg);
    transition-duration: 0.8s;
    -webkit-backface-visibility: hidden;

    &:hover {
      transform: rotate(10deg);
    }
  }

  .title {
    flex-grow: 1;

    display: flex;
    align-items: center;
    margin-left: 2rem;

    color: white;
    font-size: 1.3rem;
    font-weight: 700;

    .link {
      @extend .link;
      color: white;
    }
  }

  @media (min-width: 900px) {
    .title {
      font-size: 1.5rem;
    }
  }

  @media (min-width: 1200px) {
    .title {
      font-size: 2rem;
    }
  }
}



