@import '../../../css/base.scss';

.root {
  margin-top: 30px;

  .title {
    color: #6f6f6f;
    font-size: 1.5em;
    font-weight: bold;
  }

  .hr {
    margin-top: 10px;
    border-bottom: 1px solid #ddd;
  }

  .articles {
    margin-top: 1em;
    .article {
      @extend .link;
      display: block;
      &:not(first-child) {
        margin-top: .8em;
      }
    }
  }
}

