@import '../../css/base.scss';

.root {
  display: flex;
  background: $dominant-color2;
  height: 2.8125rem;

  .menus {
    margin: 0 1rem;
  }

  .splitter {
    flex-grow: 1;
  }

  .menuItem {
    @extend .link;
    display: inline-block;
    padding: 0 1rem;
    line-height: 2.8125rem;
    font-size: 1.2em;
    color: white;
    font-weight: 700;

    &:hover {
      background: $accent-color;
    }
  }
}