$font-family: "Arial","Microsoft JhengHei","Open Sans",sans-serif;
$font-color: rgb(80, 80, 80);

$accent-color: rgb(6, 90, 118);

$dominant-color: rgb(56, 140, 168);
$dominant-color2: rgb(26, 110, 138);

$sub-dominant-color: rgb(236, 236, 236);
$background-color: rgb(100, 100, 100);


$terminal-color: #6d6d6d;
$link-color: #666;

.row {
    max-width: 75em;
}

body{
    font-family: $font-family;
    color: $font-color;
    background: $background-color;
}

h1,h2,h3,h4,h5,h6{
    font-family: $font-family;
}

img{
    border: 0.1em solid #FFFFFF;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

/* Header */
#header{
    background: $dominant-color;

    h1{
        font-size: 2em;
        margin: 0.4em;
        
        a{
            color: white;
        }

        img.logo{
            margin-right: 10px;

            width: 58px;
            height: 58px;

            -webkit-transform: rotate(-10deg);
            -moz-transform: rotate(-10deg);
            -o-transform: rotate(-10deg);
            -ms-transform: rotate(-10deg);
            transform: rotate(-10deg);

            transition-duration: 0.8s;

            &:hover {
                -webkit-transform: rotate(10deg);
                -moz-transform: rotate(10deg);
                -o-transform: rotate(10deg);
                -ms-transform: rotate(10deg);
                transform: rotate(10deg);
            }
        }
    }
}

/* Navigation */
#navigation{
    background: $dominant-color2;

    .top-bar{
        background: $dominant-color2;

        
        .toggle-topbar a {
           font-size: 1.2em; 
        }

        .top-bar-section ul {
            background: $dominant-color2;

            li a{
                font-size: 1.2em;
                background: $dominant-color2;
                &:hover{
                    background: $accent-color;
                }
            }
        }

        /*展開時*/
        &.expanded .title-area {
            background: none repeat scroll 0 0 $dominant-color2;

            .toggle-topbar a{
                font-size: 1.2em;
                color: white;
                span {
                    box-shadow: 0 10px 0 1px #FFFFFF, 0 16px 0 1px #FFFFFF, 0 22px 0 1px #FFFFFF;
                }
            }
        }
    }
}

/* Main */
#main{ 
    background: $sub-dominant-color;

    /* Content */
    #content {
        padding-top: 0;
        padding-left: 0;

        article {
            padding: 2em;
            border-bottom:1px solid #eee;
            background: white;

            header {
                margin-bottom: 2em;

                h1 {
                    font-size: 2em;
                    margin-top: 0;
                    margin-bottom: 0;

                    a, a:visited, a:hover {
                        color: $dominant-color;
                        text-decoration: none;
                    }
                }

                .meta {
                    margin-top: 15px;

                    .rubric {
                        color: #d65b4b;
                        font-weight: bold;
                    }
                }
            }

            h2, h3, h4, h5{
                color: $font-color;   
            }

            h2{
                font-size: 1.8em;    
            }

            h3{
                font-size: 1.5em;   
            }

            h4{
                font-size: 1.3em;  
            }

            h5{
                font-size: 1.2em;
            }

            ul{
                font-size: 1.2em;
                margin-left: 1.2em;
                li{
                    margin-left: 1.2em;
                }
            }

            ol{
                font-size: 1.2em;
                margin-left: 1.2em;
                li{
                    margin-left: 1.2em;
                }
            }


            p {
                color: rgb(26, 26, 26);
                font-size: 1.2em;
                line-height: 1.8em;
                margin-bottom: 1.8em;

                &.rubric {
                    font-weight: bold ;
                    font-size: larger ;
                    color: #d65b4b ;
                }
            }

            pre{
                font-size: 1.2em;
                font-family: "Consolas", "Arial", "Microsoft JhengHei";
                color: white;
                background-color: $dominant-color;
                border: 1px solid #ccc;
                padding: 0.7em;
                margin-bottom: 1em;

                &.doctest-block {
                    border: 0;
                    background-color: $terminal-color;
                    color: #fff;
                }
            }

            .highlight pre{
                font-size: 1.2em;
                font-family: "Consolas", "Arial";
                color: $font-color;
                background-color: $sub-dominant-color;
            }

            table.highlighttable{
                pre{
                    font-size: 1.2em;
                    font-family: "Consolas", "Arial";
                    color: $font-color;
                    background-color: $sub-dominant-color;
                    border: none;
                    padding: 0;
                    margin-bottom: 0;
                }
            }

            table { 
                border-collapse: collapse; 
                width: 100%;

                th{
                    background: $dominant-color;
                    color: white;
                    padding: 0.7em;
                    font-size: 1.2em;
                }

                tr:nth-of-type(odd) { 
                    background: #eee; 
                }
                td { 
                    font-size: 1.2em;
                    padding: 0.7em;
                    border: 1px solid #ccc;  
                }
            }

            img{
                margin-bottom: 1em;
            }

            .note {
                background-color: $sub-dominant-color;
                padding: 0.1em 0.7em 0.7em 0.7em;
                margin-bottom: 1em;
                border: 1px solid #ccc;

                /*解決 note 的問題*/
                p.first{
                    font-size: 1.2em;
                    font-weight: bold;
                    color: $dominant-color;
                    margin-bottom: 0.1em;
                }

                p.last{ 
                    /*line-height: 1em;*/
                    margin-bottom: 0;
                }
            }
        }

        .series-block {
            background: $sub-dominant-color;
            padding: 20px;
            margin-bottom: 20px;

            .title {
                font-weight: 700;
                margin-bottom: 30px;
            }

            div:not(:first-child) {
                margin-top: 10px;
            }
        }

        .pagination-centered{
            margin-top: 1em;
            
            ul.pagination{
                height: 1.2em;
                font-size: 1.5em;

                a{
                    border-radius: 0;
                    color: white;
                    background-color: $dominant-color;
                    &:hover{
                        background: $accent-color;
                    }
                }
                
                li.current a{
                    background: $accent-color;
                }
            }
        }
    }

    /* Sidebar */
    aside {   
        
        #aboutme {
            margin-top: 30px;
            border: none;
            background-color: transparent;

            tr{
                background-color: transparent;

                td {
                    font-size: 1.2em;

                    img.author{
                        width: 5em;
                        float: left;
                        border: 0.1em solid #FFFFFF;
                        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
                    }

                    #social{
                        color: rgb(111, 111, 111);
                        font-size: 0.5em;
                    }

                    blockquote{
                        background-color: transparent;
                        font-size: 0.8em;
                    }
                }
            }
        }

        section {

            h1{
                color: $dominant-color;
                font-size: 1.5em;
                border-bottom:1px solid #ddd;
            }

            tr{
                background-color: transparent;
            }    

            li{
                padding-bottom: 0.5em;
                list-style:none;
            }

            a, a:visited, a:hover{
                color: $font-color;
            }

        }
    
    }
}


/* Footer */
footer {
    height: 45px;
    background: $dominant-color2;

    p{
        color: white;
        margin-top: 0.5em;
        text-align: center;
    }
}