@import '../../../css/colors.scss';

.root {
    background: $dominant-color;
    height: 85px;

    .logo {
        float: left;
        background: url(../../img/logo.png) no-repeat center;
        margin-top: 10px;
        margin-left: 20px;

        width: 58px;
        height: 58px;

        border: .1em solid #FFF;
        box-shadow: 0 1px 4px rgba(0,0,0,0.15);

        transform: rotate(-10deg);
        transition-duration: 0.8s;

        &:hover {
            transform: rotate(10deg);
        }
    }

    .title {
        display: inline-block;
        margin-left: 25px;
        margin-top: 20px;

        color: white;
        font-size: 2em;
        font-weight: 700;
    }
}



