@import '../../../css/base.scss';

.root {
  background: $dominant-color2;
  position: relative;
  height: 45px;

  .leftMenu {
    padding-left: 10px;
  }

  .rightMenu {
    position: absolute;
    top: 0;
    right: 10px;
    text-align: right;
  }

  .menuItem {
    @extend .link;
    display: inline-block;
    padding: 0 15px;
    line-height: 45px;
    font-size: 1.2em;
    color: white;
    font-weight: 700;

    &:hover {
      background: $accent-color;
    }
  }
}