.pagination ul {
    margin: 0 auto;
    float: right;

    @media (max-width: 1200px) {
      float: none;
    }

    li {
      float: left;
      margin-bottom: 32px;
      width: 32px;
      height: 32px;

      @media (max-width: 1200px) {
        margin-bottom: 0;
        width: calc(100% / 8);
      }
    }

    a {
      display: block;
      text-align: center;
      line-height: 32px;
      font-size: 1.5rem;

      color: #ECECEC;
      background: #388ca8;

      &:hover {
        background: #065a76;
      }

      &.active {
        pointer-events: none;
        background: #065a76;
      }
    }
  }