@import '../../../css/colors.scss';

.root {
    margin-top: 30px;

    .title {
        color: #6f6f6f;
        font-size: 1.5em;
        font-weight: bold;
    }

    .hr {
        margin-top: 10px;
        border-bottom: 1px solid #ddd;
    }

    .posts {
        margin-top: 10px;

        .post {
            color: $dominant-color;

            &:not(first-child) {
                margin-top: 15px;
            }
        }
    }
}

