{% extends "blog/base.html" %}
{% load staticfiles %}

{% block title %}
    {{ article.title }} - {{ SITE_NAME }}
{% endblock %}

{% block og_meta %}
    <meta property="og:url" content="{{ article.get_absolute_url }}"/>
    <meta property="og:title" content="{{ article.title }}"/>
    {% if article.cover %}
        <meta property="og:image" content="{{ article.cover }}"/>
    {% else %}
        <meta property="og:image" content="{% static "resources/img/marco.jpg" %}"/>
    {% endif %}

    <meta property="og:description" content="{{ article.raw_summary }}"/>
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1 class="title"><a href="{{ article.get_absolute_url }}"> {{ article.title }}</a> </h1>
            {% include "blog/article_meta.html" %}
        </header>

        {% autoescape off %}
            {{ article.content }}
        {% endautoescape  %}

        <div class="social-block">
            <div class="fb-share-button" data-layout="button_count"></div>
            <g:plusone></g:plusone>
        </div>

        {% if series %}
        <div class="series-block">
            <div class="title">同系列其他文章：</div>
            {% for article in series %}
                <div><a href="{{ article.get_absolute_url }}"> {{ article.title }}</a></div>
            {% endfor %}
        </div>
        {% endif %}

        {% include "blog/disqus.html" %}

    </article>

{% endblock %}

{% block social %}
<!-- Google+ Plus One -->
<script src="//apis.google.com/js/platform.js" async defer></script>
{% endblock %}