@import './colors.scss';

$terminal-color: #6d6d6d;

:global {
  body {
    background: rgb(100, 100, 100);
    color: rgb(80, 80, 80);
    font-size: 16px;
    font-family: Arial, Microsoft JhengHei, Open Sans, sans-serif;
  }
}

.link {
  color: $dominant-color;
  text-decoration: none;

  &:visited {
    text-decoration: none;
  }
}