@import '../../css/colors.scss';

.root {
  height: 2.8125rem;
  background: $dominant-color2;
  display: flex;
  justify-content: center;
  align-items: center;

  .copyright {
    color: white;
  }
}
