@import '../../../css/base.scss';

.root {
  margin-top: 0.5em;
}

.field {
  font-size: .9em;
  &:not(:first-child) {
    margin-left: 1.5em;
  }
}

.category {
  @extend .link;

  &:not(:first-child):before {
    content: ' / ';
  }
}