@import '../../css/colors.scss';
@import '../../css/base.scss';

.root {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap
}

.header, .nav, .main, .sidebar, .content, .footer {
  width: 100%;
}

.main {
  display: flex;
  flex-wrap: wrap;
  background: white;
}

.sidebarInside {
  background: $sub-dominant-color;
  padding: .5rem;
  height: 100%;

  .link {
    @extend .link;
  }

  .otherPart {
    display: none;
  }
}

.nav, .footer {
  display: none;
}

@media (min-width: 900px) {
  .nav, .footer {
    display: block;
  }
}

@media (min-width: 1200px) {
  .root {
    width: 1200px;
  }

  .sidebar {
    order: 2;
    width: calc(100% / 3);
  }

  .sidebarInside {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    .otherPart {
      display: block;
    }

    .archive {
      margin-top: 2rem;
    }
  }

  .content {
    order: 1;
    width: calc(100% / 3 * 2);
  }
}
