@import '../../css/base.scss';

.root {
  background: $sub-dominant-color;
  padding: .5rem;
  height: 100%;

  .link {
    @extend .link;
  }

  .otherPart {
    display: none;
  }
}

@media (min-width: 1200px) {
  .root {
    padding: 2rem;

    .otherPart {
      display: block;
    }

    .archive {
      margin-top: 2rem;
    }
  }
}