html {
  color: #505050;
  font-size: 16px;
  font-family: Arial, Microsoft JhengHei, Open Sans, sans-serif;
  background: #646464;
}

a {
  color: #388ca8;
  text-decoration: none;

  &:hover {
    color: #065a76;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  position: relative;

  width: 1200px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    width: 100%;
  }
}

.pageHeader {
  height: 90px;
  background: #388ca8;
  position: relative;

  .title {
    position: relative;
    margin: 0;
    line-height: 90px;
    padding-left: 116px;
    font-size: 2rem;

    @media (max-width: 400px) {
      font-size: 1.3rem;
    }
  }

  a {
    color: #ffffff;
  }

  img {
    position: absolute;
    top: 18px;
    left: 28px;
    width: 54px;
    height: 54px;

    transform: rotate(-10deg);
    transition-duration: 0.8s;
    -webkit-backface-visibility: hidden;

    &:hover {
      transform: rotate(10deg);
    }
  }

  .modeTitle {
    z-index: 9999;
    position: absolute;
    right: 18px;
    bottom: 8px;

    font-size: 2rem;
    font-weight: 700;
  }

  .intensifies {
    animation-timing-function: ease-out;
    transform-origin: bottom center;
    animation-name: intensifies;
    animation-duration: 5s;
  }

  .animated {
    animation-fill-mode: both;
  }

  @keyframes intensifies {

    @for $i from 0 through 100 {

      #{$i * 1%} {
        // Rotate between left and right
        $sign: -1;
        @if $i % 2 == 0 {
          $sign: 1;
        }

        // Rotation capped at 8
        $rotation: 8;
        @if $i < 10 {
          $rotation: $i;
        }

        // Final frame is set back to 0
        @if $i != 100 {
          transform: translate($sign * random($i + 1) * 5px - $i * 5, $sign * random($i + 1) * 5px + $i * 5) scale(2 + $i / 25);
        } @else {
          transform: translate(0, 0) rotate(0deg);
        }

      }
    }
  }
}

.pageNav {
  height: 42px;
  background: #1A6E8A;

  .menuContainer {
    a {
      display: block;
      height: 42px;
      line-height: 42px;
      padding: 0 16px;
      font-size: 1.2rem;
      color: #ECECEC;
      font-weight: 700;

      &:hover {
        background: #065A76;
      }
    }

    a.menuToggle {
      display: none;
    }

    ul.mainMenu {
      float: left;

      li {
        float: left;
      }
    }

    ul.extraMenu {
      float: right;

      li {
        float: left;
      }
    }

    @media (max-width: 1200px) {
      position: absolute;

      a.menuToggle {
        display: block;
        &:hover {
          background: none;
        }
      }

      ul {
        display: none;
      }

      li {
        width: 100%;

        a {
          background: #388ca8;
        }
      }

      &:hover {
        width: 140px;

        ul {
          display: block;

          &.extra-menu {
            border-top: 3px #1A6E8A solid;
          }
        }
      }
    }
  }
}

.pageMain {
  background: #ECECEC;
  overflow: auto;

  .aside {
    float: left;

    @media (max-width: 1200px) {
      width: 100%;
      background: #1A6E8A;
    }

    section {
      margin: 30px;
      width: 340px;
    }

    section.aboutMe {
      position: relative;

      img {
        position: absolute;
        width: 90px;
        height: 100%;
        border: 0.1em solid #FFFFFF;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
      }

      .profile {
        padding-top: 8px;
        padding-left: 110px;
        font-size: 0.8rem;

        h3 {
          margin: 0;
          font-size: 1rem;

          @media (max-width: 1200px) {
            color: #ECECEC;
          }
        }

        .motto {
          margin-top: 8px;
          color: #6F6F6F;
          display: inline-block;

          @media (max-width: 1200px) {
            color: #ECECEC;
          }
        }

        ul.contact {
          margin-top: 8px;
          overflow: auto;

          li {
            float: left;

            &:not(:first-child) {
              margin-left: 4px;
            }

            a {
              display: block;
              width: 24px;
              height: 24px;
              text-indent: 110%;
              overflow: hidden;

              &.facebook {
                background: url("./img/icon/i-facebook.svg") no-repeat;
                background-size: 100%;
              }

              &.linkedin {
                background: url("./img/icon/i-linkedin.svg") no-repeat;
                background-size: 100%;

              }
              &.github {
                background: url("./img/icon/i-github.svg") no-repeat;
                background-size: 100%;
              }
            }
          }
        }
      }
    }

    section.recentArticles {
      @media (max-width: 1200px) {
        display: none;
      }

      h2 {
        color: #6F6F6F;
        font-size: 1.5em;
        font-weight: 700;
        border-bottom: 1px solid #DDDDDD;
        padding-bottom: 10px;
      }

      li:not(:first-child) {
        margin-top: 8px;
      }
    }

    section.additionalLinks {
      @media (max-width: 1200px) {
        display: none;
      }

      h2 {
        border-bottom: 1px solid #DDDDDD;
        padding-bottom: 10px;
      }
    }
  }
}

.pageFooter {
  height: 42px;
  background: #1A6E8A;

  .copyright {
    margin: 0 auto;
    text-align: center;
    line-height: 42px;
    color: #ECECEC;
  }
}
