@import '../../css/base';

.root {
  padding: 2em;
  border-bottom: 1px solid #eee;
  background: white;
  min-height: 50em;

  .header {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 1em;
    color: $dominant-color;

    .link {
      @extend .link;
    }
  }
}
