.root {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .loadingImage {
      display: inline-block;

      width: 90px;
      height: 90px;
      background: url('./img/loading.jpg') no-repeat center;
      background-size: 90px 90px;

      border: 0.1em solid #FFFFFF;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    }

  .message {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
  }
}


.twister {
  animation-name: twister;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  z-index: 1000;
}

@keyframes twister {

  0% {
    transform: rotateZ(0deg);
  }

  20% {
    transform: rotateZ(360deg);
  }

  40% {
    transform: rotateZ(720deg);
  }

  60% {
    transform: rotateZ(1080deg);
  }

  80% {
    transform: rotateZ(1440deg);
  }
}
