.article {
  background: white;
  padding: 32px;

  header {
    h1 {
      margin: 3px 0;
      font-size: 2rem;

      @media (max-width: 1200px) {
        font-size: 1.3rem;

        overflow : hidden;
        text-overflow : ellipsis;
        white-space : nowrap;
      }

      a {
        font-size: 2rem;
      }
    }
  }

  ul.metadata {
    font-size: 0.9rem;

    @media (max-width: 1200px) {
      font-size: 0.5rem;

      overflow : hidden;
      text-overflow : ellipsis;
      white-space : nowrap;
    }

    li {
      display: inline;
      &:not(:first-child) {
        margin-left: 8px;
      }
    }

    ul.categories {
      display: inline;

      li {
        margin: 0;
        &:not(:first-child):before {
          content: "/";
          margin: 0 3px;
        }
      }
    }
  }
}