@import '../../css/base.scss';

.root {
  display: block;
  width: 1.5rem;
  height: 1.5rem;

  input {
    display: none;
    &:checked + .box {
      &:after {
        top: 0;
      }
    }
  }

  .box {
    width: 100%;
    height: 100%;
    transition: all 1.1s cubic-bezier(.19, 1, .22, 1);
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    &:after {
      width: 50%;
      height: 20%;
      content: '';
      position: absolute;
      border-left: 0.3rem solid;
      border-bottom: 0.3rem solid;
      border-color: $accent-color;
      transform: rotate(-45deg) translate3d(0, 0, 0);
      transform-origin: center center;
      transition: all 1.1s cubic-bezier(.19, 1, .22, 1);
      left: 0;
      right: 0;
      top: 200%;
      bottom: 5%;
      margin: auto;
    }
  }
}
