@import '../../css/base.scss';

.root {
  padding: 2em;
  margin-bottom: 0.2em;
  background: white;

  .header {
    font-size: 2em;
    font-weight: bold;
    color: $dominant-color;

    .link {
      @extend .link;
    }
  }
}
