.lab {
  float: left;
  width: 800px;

  @media (max-width: 1200px) {
    width: 100%;
  }

  article {
    min-height: 600px;

    padding: 2em;
    border-bottom: 1px solid #eee;
    background: white;

    header {
      h1 {
        margin: 3px 0 24px;

        a {
          font-size: 2rem;
        }
      }
    }

    table {
      border-collapse: collapse;
      width: 100%;
      font-size: 1.2em;

      tr {
        background: #eee;

        &:nth-of-type(even) {
          background: #f9f9f9;
        }

        td {
          padding: 0.6em;
          border: 1px solid #ccc;
        }
      }
    }
  }
}
