html {
  color: #505050;
  font-size: 16px;
  font-family: Arial, Microsoft JhengHei, Open Sans, sans-serif;
  background: #646464;
}

a {
  color: #388ca8;
  text-decoration: none;

  &:hover {
    color: #065a76;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  position: relative;

  width: 1200px;
  margin: 0 auto;

  @media (max-width: 1200px) {
    width: 100%;
  }
}

.pageMain {
  background: #ECECEC;
  overflow: auto;

  .aside {
    float: left;

    @media (max-width: 1200px) {
      width: 100%;
      background: #1A6E8A;
    }

    section {
      margin: 30px;
      width: 340px;
    }

    section.aboutMe {
      position: relative;

      img {
        position: absolute;
        width: 90px;
        height: 100%;
        border: 0.1em solid #FFFFFF;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
      }

      .profile {
        padding-top: 8px;
        padding-left: 110px;
        font-size: 0.8rem;

        h3 {
          margin: 0;
          font-size: 1rem;

          @media (max-width: 1200px) {
            color: #ECECEC;
          }
        }

        .motto {
          margin-top: 8px;
          color: #6F6F6F;
          display: inline-block;

          @media (max-width: 1200px) {
            color: #ECECEC;
          }
        }

        ul.contact {
          margin-top: 8px;
          overflow: auto;

          li {
            float: left;

            &:not(:first-child) {
              margin-left: 4px;
            }

            a {
              display: block;
              width: 24px;
              height: 24px;
              text-indent: 110%;
              overflow: hidden;

              &.facebook {
                background: url("./img/icon/i-facebook.svg") no-repeat;
                background-size: 100%;
              }

              &.linkedin {
                background: url("./img/icon/i-linkedin.svg") no-repeat;
                background-size: 100%;

              }
              &.github {
                background: url("./img/icon/i-github.svg") no-repeat;
                background-size: 100%;
              }
            }
          }
        }
      }
    }

    section.recentArticles {
      @media (max-width: 1200px) {
        display: none;
      }

      h2 {
        color: #6F6F6F;
        font-size: 1.5em;
        font-weight: 700;
        border-bottom: 1px solid #DDDDDD;
        padding-bottom: 10px;
      }

      li:not(:first-child) {
        margin-top: 8px;
      }
    }

    section.additionalLinks {
      @media (max-width: 1200px) {
        display: none;
      }

      h2 {
        border-bottom: 1px solid #DDDDDD;
        padding-bottom: 10px;
      }
    }
  }
}
